<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="selectpagestyle.css">
</head>
<body>
  <header>
    <!-- <div class="wrapper"> -->
      
          <div class="logo">
            <a href="#">Learn <span id="english">English</a>
        </div>
        <div class="header_right">
            <ul class="menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="/data">Users</a></li>
                <li><a href="select.html">Services</a></li>
              </ul>  
            </div>
            <!-- </div> -->
            </header>
            
<div class="container">
  <div class="box">
    <h1>Tutorials: Learn Fundamentals</h1>
    <p>Start your journey with learning fundamentals of English Grammar with examples</p>
    
    <img src="learning.jpg">
    <button class="button" onclick="window.location.href='../Tutorial/tutorial.html'">Click Here</button>
  </div>
  <div class="box">
    <h1>Pronounciation Practice</h1>
    <p>Practice your Pronounciations with our Text to speech feature, Enter the desired text and Learn how it is pronounced</p>
    <img src="text-to-speech.jpg">
    <button class="button" onclick="window.location.href='texttospeech.html'">Click Here</button>
  </div>
  <div class="box">
    <h1>Writing And Spell Check</h1>
    <p>Writing is an crucial part of a language, test your grammar and writing skills here!</p>
  
    <img src="grammarcheck.png">
    <button class="button" onclick="window.location.href='typingpractice.html'">Click Here</button>
  </div>
</div>

</body>
</html>
